SENDER_NAME=ReplaceSenderName
SENDER_EMAIL=ReplaceSenderEmail
SENDER_PASSWORD=ReplaceSenderPassword
FRONTEND_BASE_URL=http://host.docker.internal:3000
# Uncomment to override the default templates endpoint derived from FRONTEND_BASE_URL
# FRONTEND_TEMPLATES_ENDPOINT=http://localhost:3000/api/templates
ENABLE_FRONTEND_TEMPLATE_FETCH=true
FRONTEND_TEMPLATE_TIMEOUT=5.0